#
# Apaxy by @adamwhitcroft
#
# For a full breakdown of the mod_autoindex module:
# http://apache.org/docs/2.2/mod/mod_autoindex.html
#

	# ENABLE INDEXING
	Options +Indexes

	# INDEX OPTIONS
	IndexOptions +Charset=UTF-8 +FancyIndexing +IgnoreCase +FoldersFirst +XHTML +HTMLTable +SuppressRules +SuppressDescription +NameWidth=* +IconsAreLinks +IconHeight=20 +IconWidth=20

    	# META VIEWPORT
    	IndexHeadInsert "<meta name=\"robots\" content=\"noindex, nofollow\"> <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />"

	# HIDE http://foldr.grid-labs.com/.theme DIRECTORY
	IndexIgnore .htaccess /.foldr

#
# GENERAL ICONS (BLANK, DIRECTORY, PARENT DIRECTORY)
#

#
# Replace {FOLDERNAME} with your directory URL eg:
# If your directory is http://mywebsite.com/.
# you would change to:
#
# AddIcon http://foldr.grid-labs.com/.theme/icons/blank.png ^^BLANKICON^^
#

	AddIcon http://foldr.grid-labs.com/.theme/icons/blank.png ^^BLANKICON^^
	AddIcon http://foldr.grid-labs.com/.theme/icons/folder.svg ^^DIRECTORY^^
	AddIcon http://foldr.grid-labs.com/.theme/icons/folder-parent.svg ..
	
	AddIconByType (TXT,http://foldr.grid-labs.com/.theme/icons/default.svg) text/*
	AddIconByType (IMG,http://foldr.grid-labs.com/.theme/icons/image.svg) image/*
	AddIconByType (SND,http://foldr.grid-labs.com/.theme/icons/audio.png) audio/*
	AddIconByType (VID,http://foldr.grid-labs.com/.theme/icons/video.svg) video/*

#
# EXTENSION SPECIFIC ICONS
#

	AddIcon http://foldr.grid-labs.com/.theme/icons/archive.png .7z .bz2 .cab .gz .tar
	AddIcon http://foldr.grid-labs.com/.theme/icons/audio.png .aac .aif .aifc .aiff .ape .au .flac .iff .m4a .mid .mp3 .mpa .ra .wav .wma .f4a .f4b .oga .ogg .xm .it .s3m .mod
	AddIcon http://foldr.grid-labs.com/.theme/icons/bin.png .bin .hex
	AddIcon http://foldr.grid-labs.com/.theme/icons/bmp.png .bmp
	AddIcon http://foldr.grid-labs.com/.theme/icons/c.png .c
	AddIcon http://foldr.grid-labs.com/.theme/icons/calc.png .xlsx .xlsm .xltx .xltm .xlam .xlr .xls .csv
	AddIcon http://foldr.grid-labs.com/.theme/icons/cd.png .iso
	AddIcon http://foldr.grid-labs.com/.theme/icons/cpp.png .cpp
	AddIcon http://foldr.grid-labs.com/.theme/icons/css.svg .css .sass .scss
	AddIcon http://foldr.grid-labs.com/.theme/icons/deb.png .deb
	AddIcon http://foldr.grid-labs.com/.theme/icons/doc.png .doc .docx .docm .dot .dotx .dotm .log .msg .odt .pages .rtf .tex .wpd .wps
	AddIcon http://foldr.grid-labs.com/.theme/icons/draw.png .svg .svgz
	AddIcon http://foldr.grid-labs.com/.theme/icons/ai.svg .ai .eps
	AddIcon http://foldr.grid-labs.com/.theme/icons/exe.png .exe
	AddIcon http://foldr.grid-labs.com/.theme/icons/gif.png .gif
	AddIcon http://foldr.grid-labs.com/.theme/icons/h.png .h
	AddIcon http://foldr.grid-labs.com/.theme/icons/html.svg .html .xhtml .shtml .htm .URL .url
	AddIcon http://foldr.grid-labs.com/.theme/icons/ico.png .ico
	AddIcon http://foldr.grid-labs.com/.theme/icons/java.png .jar
	AddIcon http://foldr.grid-labs.com/.theme/icons/jpg.png .jpg .jpeg .jpe
	AddIcon http://foldr.grid-labs.com/.theme/icons/js.png .js .json
	AddIcon http://foldr.grid-labs.com/.theme/icons/markdown.png .md
	AddIcon http://foldr.grid-labs.com/.theme/icons/package.png .pkg .dmg
	AddIcon http://foldr.grid-labs.com/.theme/icons/pdf.png .pdf
	AddIcon http://foldr.grid-labs.com/.theme/icons/php.png .php .phtml
	AddIcon http://foldr.grid-labs.com/.theme/icons/playlist.png .m3u .m3u8 .pls .pls8
	AddIcon http://foldr.grid-labs.com/.theme/icons/png.png .png
	AddIcon http://foldr.grid-labs.com/.theme/icons/ps.png .ps
	AddIcon http://foldr.grid-labs.com/.theme/icons/psd.png .psd
	AddIcon http://foldr.grid-labs.com/.theme/icons/py.png .py
	AddIcon http://foldr.grid-labs.com/.theme/icons/rar.png .rar
	AddIcon http://foldr.grid-labs.com/.theme/icons/rb.png .rb
	AddIcon http://foldr.grid-labs.com/.theme/icons/rpm.png .rpm
	AddIcon http://foldr.grid-labs.com/.theme/icons/rss.png .rss
	AddIcon http://foldr.grid-labs.com/.theme/icons/script.png .bat .cmd .sh
	AddIcon http://foldr.grid-labs.com/.theme/icons/sql.png .sql
	AddIcon http://foldr.grid-labs.com/.theme/icons/tiff.png .tiff .tif
	AddIcon http://foldr.grid-labs.com/.theme/icons/default.svg .txt .nfo
	AddIcon http://foldr.grid-labs.com/.theme/icons/video.svg .asf .asx .avi .flv .mkv .mov .mp4 .mpg .rm .srt .swf .vob .wmv .m4v .f4v .f4p .ogv
	AddIcon http://foldr.grid-labs.com/.theme/icons/xml.png .xml
	AddIcon http://foldr.grid-labs.com/.theme/icons/zip.svg .zip
	DefaultIcon http://foldr.grid-labs.com/.theme/icons/default.svg

#
# THEME FILES
#
	# Global CSS
	IndexStyleSheet "http://foldr.grid-labs.com/.theme/style.css"
	
	# Custom .foldr
	#HeaderName /.foldr/header.html ## better for child-theme
	#ReadmeName /.foldr/footer.html ## maybe just like header
